<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HKiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs"/>
    </assemblyBinding>
  </runtime>
    <applicationSettings>
        <HKiosk.Properties.Settings>
            <setting name="GiwanNo" serializeAs="String">
                <value>HG0002</value>
            </setting>
            <setting name="VideoCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VideoTitles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>영상1</string>
                        <string>영상2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="VideoPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Resources\Videos\동영상1.avi</string>
                        <string>Resources\Videos\동영상2.avi</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="APIURL" serializeAs="String">
                <value>http://172.16.0.154:81</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>1</value>
            </setting>
        </HKiosk.Properties.Settings>
    </applicationSettings>
</configuration>